.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 400px;
  text-align: center;
}

.form-container h2 {
  margin-bottom: 20px;
}

.blog-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  padding: 20px;
  max-width: 1200px;
}

.blog-item {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.blog-image {
  width: 100%;
  height: auto;
}

.blog-content {
  padding: 15px;
}

.blog-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.blog-author {
  font-size: 1rem;
  color: #6c757d;
}

.blog-link {
  font-size: 1rem;
  color: #007bff;
  text-decoration: none;
  margin-right: 10px;
}

.delete-button {
  background-color: #fff;
  color: black;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.blog-button {
  margin-top: 0.6em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: white;
  border: 2px solid #007bff;
  color: #007bff; /* Text color */
  padding: 5px 8px; /* Adjust padding as needed */
  cursor: pointer;
}

.blog-button:hover {
  background-color: #007bff;
  color: white;
}