.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #007bff;
    border-radius: 5px;
    width: 80vw;
    margin: 20px auto 0;
    overflow-x: auto;
  }

  .button-section {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  
  .section {
    text-align: center;
  }
  
  .section h1 {
    color: #007bff;
    margin: 5px
  }
  
  .section h2 {
    color: black
  }
  
  .section p {
    margin-bottom: 10px;
  }
  
  .section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .section li {
    margin-bottom: 5px;
  }

  .get-started-button {
    margin-top: 0.6em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    border: 2px solid #007bff;
    color: #007bff; /* Text color */
    padding: 5px 8px; /* Adjust padding as needed */
    cursor: pointer;
    margin-left: 1em;
    margin-right: 1em;
    text-decoration: none;
  }
  
  
  .get-started-button:hover {
    background-color: #007bff;; /* Change background color on hover */
    color: white;
    text-decoration: none;
  }