.display-cards {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 18rem;
  border: 2px solid #007bff;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin: 5px;
  }

  .button-class {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  }

  .button-delete {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
    background-color: rgb(255, 255, 255);
    color: rgb(252, 17, 17);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }

  .button-div {
    margin: 3px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
  }

  