.container {
  display: flex;
  padding-top: 2em;
  overflow-x:auto;
}

.table {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: auto;
}


th, td {
    padding: 1em;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    max-width: 15em;
    cursor: auto;
  }

  th {
    background-color: #007bff;
    color: white;
  }

  .td-selected {
    white-space: normal;
  }


  textarea {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  select {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .job-table-button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    border-radius: .25em;
    border-color: #007bff;
  }

  .notes-hover {
    cursor: pointer;
  }

  .job-table-trash-button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    border-radius: .2em;
    border-color: #007bff;
    margin-bottom: 1em;
  }



