.form-container {
    width: 100%;
    max-width: 80vw; 
    margin: auto;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  /* Media query for smaller screens (e.g., mobile devices) */
  @media (max-width: 576px) {
    .form-container {
      max-width: 100%; 
    }
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  .success-alert {
    padding-top: .5em;
    padding-bottom: .04em;
    margin: 2em;
    background-color: lightgreen;
    color: white;
  }
  
  .alert-p {
    padding-top: .4em;
  }

  .success-alert {
    transition: opacity 0.5s ease-in-out; /* Add transition for opacity */
  }