.form-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form {
  width: 100%; /* Set to 100% width on smaller screens */
  max-width: 500px; /* Adjust the max-width as needed */
  background-color: #f0f0f0;
  border: 2px solid #007bff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

/* Media query for smaller screens */
@media (min-width: 768px) {
  .form {
    width: 50%; /* Set back to 50% width on larger screens */
  }
}

  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
  }
  
  .checkbox-label {
    display: flex;
    align-items: center; /* Aligns checkbox vertically in the middle */
    margin-top: 10px; /* Adjust the value as needed for spacing */
  }
  
  .checkbox-label input {
    margin-left: 8px; /* Adjust the margin as needed */
  }
  
  input,
  select,
  textarea {
    width: calc(100% - 16px); /* Adjust width and add 16px for padding */
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  select {
    /* Adjust the font size and padding for select element */
    font-size: 14px;
    padding: 10px;
  }
  
  textarea {
    resize: vertical;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  }
  
  .success-alert-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .success-alert {
    text-align: center;
    background: #d4edda;
    color: #155724;
    padding: 10px;
    max-width: 12em;
    border-radius: 4px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .success-alert a {
    color: #155724;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  
  .form label {
    margin-top: 10px;
  }